@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");

html {
  height: 100%;
}

body {
  margin: 0;

  font-weight: 500;
  font-size: 10px;
  font-family: "Quicksand", "Arial", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1024px;
  margin: 30px auto;
}

.content-block {
  display: block;
  flex-grow: 1;
  width: 230px;
  margin: 20px auto 10px;
  padding: 5px 10px;
  overflow: hidden;

  text-align: justify;
}

.block-header {
  margin-bottom: 20px;
}

.block-title {
  margin: 0;

  font-size: 1.6em;
  text-align: center;
}

.author-name {
  margin-top: 30px;

  font-size: 1.75em;
}

.author-avatar {
  width: 65%;

  border-radius: 50%;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.content-section ul {
  align-self: flex-start;
  margin-top: 0;
  padding-left: 3.5em;

  font-size: 1.25em;
  line-height: 1.55em;
}

.content-section a {
  font-weight: 700;
  color: #112cfb;
  text-decoration: none;
}

.content-section a:hover {
  text-decoration: underline;
}

.content-section p {
  margin-top: 0;
  margin-bottom: 1.5em;

  font-size: 1.25em;
  line-height: 1.8em;
}

.content-section img {
  align-self: center;
}

ul.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  padding: 0;

  list-style: none;
  font-size: 1.15em;
}

.contact-item a {
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}

.contact-item a:hover {
  text-decoration: underline;
}

.contacts li {
  margin-bottom: 5px;
}

.contacts i {
  margin-right: 5px;
}

.highlight {
  font-weight: 700;
}
