@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Quicksand', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 10px;
  margin: 0;
}

.main-container {
	width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.content-block {
	display: block;
	padding: 10px;
	margin: 20px 5px;
	width: 220px;
	text-align: justify;
}

.block-header {
	margin-bottom: 20px;
}

.block-title {
	text-align: center;
	font-size: 1.6em;
	margin: 0;
}

.author-name {
	font-size: 1.75em;
	margin-top: 30px;
}

.author-avatar {
	width: 65%;
	border-radius: 50%;
}

.content-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.content-section p {
	font-size: 1.25em;
	line-height: 1.8em;
	margin-top: 0;
	margin-bottom: 1.5em;
}

.content-section img {
	align-self: center;
}

.contacts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	font-size: 1.15em;
}

.contact-item a {
	color: #000000;
	text-decoration: none;
}

.contact-item a:hover {
	text-decoration: underline;
}

.contacts li {
	margin-bottom: 5px;
}

.contacts i {
	margin-right: 5px;
}