@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Quicksand', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 10px;
  margin: 0;
}

.main-container {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-block {
    display: block;
    padding: 10px;
    margin: 5px;
    width: 220px;
    text-align: justify;
}